*{
    font-family: 'Cinzel', serif;
    margin: 0;
    padding: 0;
}
body{
    overflow-x: hidden;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: none !important;
}
h1, h3{
    font-weight: 100 !important;
}
p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    font-size: 12px;
}
.custom-row{
    display: flex;
}
.justify-center{
    justify-content: center;
}
.align-center{
    align-items: center;
}
.pos-rel{
    position: relative;
}
.pos-abs{
    position: absolute;
}
.center-align{
    display: flex;
    justify-content: center;
    align-items: center;
}
.width-100{
    width: 100%;
}
.height-100{
    height: 100%;
}
.flex-col{
    flex-direction: column;
}
.flex-1{
    flex: 1;
}
.flex-2{
    flex: 2;
}
.align-text-end{
    text-align: end;
}
.align-text-center{
    text-align: center;
}
.align-element-end{
    align-items: end;
}
.reverse-row{
    flex-direction: row-reverse;
}

/* css for header starts here */
nav{
    border-bottom: 1px solid #000;
    padding-bottom: 5px;
    position: sticky;
    top: 0;
    z-index: 2;
}
.navbar-toggler:focus,
  .navbar-toggler:active {
    outline: none;
    box-shadow: none;
    border-color: transparent;
}
.form-control-no-border:focus,
  .form-control-no-border:active {
    outline: none !important;
    box-shadow: none !important;
    border-color: transparent !important;
  }
.mobile-nav{
    display: none !important;
}
.nav-container{
    justify-content: space-evenly;
    background-color: #fff;
    padding-top: 10px;
}
.menu a{
    color: #434242;
    display: inline-block;
    text-align: center;
    font-size: 9pt;
    letter-spacing: 2px;
    line-height: 15px;
}
.home{
    width: 12%;
    position: relative;
}
.home img{
    position: absolute;
    left: 20%;
    top: 5%;
}
.social-media-conatiner{
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
}
.social-media-conatiner a i{
    color: #5B5B5B;
 }
.drop-down-div{
    font-size: 13px;
    text-align: center;
    cursor: pointer;
}
.drop-down-menu{
    display: none;
}
.drop-down-menu li{
    font-size: 12px;
    font-weight: 100;
    cursor: pointer;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}
.drop-down-menu li a{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px;
}
.drop-down-menu li:not(:first-child) a::before {
    content: "•";
    margin-right: 10px;
    font-size: 22px;
  }
.drop-down-menu li a {
    text-transform: uppercase !important;
  }
.drop-down:hover .drop-down-menu{
    display: flex;
    left: 0;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
    background-color: white;
    padding: 6px;
    box-shadow: 10px 8px 10px 5px rgba(0, 0, 0, 0.5);
}
.space-ele{
    height: 100%;
    justify-content: space-around;
    align-items: center;
    row-gap: 1rem;
}
.search-container{
    justify-content: space-between;
    row-gap: 1rem;
}
.search-box{
    border-bottom: 1px solid #000;
    column-gap: 5px;
    align-items: center;
    padding: 5px;
}
.search-box input[type="search"]{
    border: none;
    outline: none;
}
.search-box input[type="search"]::placeholder{
    font-size: 12px;
    letter-spacing: 2px;
}
.menu-bottom-align{
    justify-content: space-between;
}
.text-end{
    padding: 10px;
    display: flex;
    justify-content: end;
    column-gap: 1rem;
    align-items: center;
}
/* css for header ends here */

/* quote button css */
.quote-btn{
    width: max-content !important;
    padding: 9px 20px;
    background-color: #632C66;
    color: #fff;
    border: none;
    font-family: 'Cinzel Decorative', cursive;
    letter-spacing: 1px;
    margin-top: 1rem;
}

/* footer css */
#footer{
    padding: 2rem 5rem;
}
#footer p{
    font-size: 10px;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
}

/* bootstrap customize css */
.form-control{
    display: block  !important;
    width: 100% !important;
    padding: 0.375rem 0.75rem !important;
    font-size: 1rem !important;
    font-weight: 400 !important;
    line-height: 1.5 !important;
    color: #212529 !important;
    background-color: #fff !important;
    background-clip: padding-box !important;
    border: 1px solid #ced4da !important;
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    appearance: none !important;
    border-radius: 0.25rem !important;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out !important;
    text-align: left !important;
}
.form-control:focus {
    color: #212529 !important;
    background-color: #fff !important;
    border-color: #86b7fe !important;
    outline: 0 !important;
    box-shadow: 0 0 0 0.25rem rgba(13,110,253,.25) !important;
}
.col-form-label{
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
.modal-header .modal-title{
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

}
.custom-btn-link{
    border: none;
    background-color: transparent;
}  
#recipient-name,#message-text{
    text-transform: capitalize !important;
    font-family: auto;
}
#recipient-name::placeholder,#recipient-tel::placeholder{
    font-weight: 400;
    text-transform: uppercase;
}
#recipient-email{
    text-transform: lowercase !important;
    font-family: auto;
}
#recipient-email::placeholder{
    font-weight: 400;
    text-transform: uppercase !important;
}
/* css for RWD */
@media(max-width:992px){             /*tablet-view*/
    body{
        overflow-x: hidden !important;
    }               
    .collection-container{
        grid-template-columns: repeat(1,1fr);
    }
    .upper-section{
        flex-direction: column !important;
    }
    .desktop-nav{
        display: none !important;
    }
    .mobile-nav{
        display: flex !important;
        background-color: #fff !important;
    }
    .social-media-conatiner{
        width: fit-content;
        gap: 1rem;
        padding: 1rem 0;
    }
    .slide-content-container{
        right: 6% !important;
    }
    .slide-content p{
        font-size: 1.5em;
        line-height: 36px !important;
    }
    .left-align{
        padding-right: 6rem;
    }
    #footer{
        padding: 1rem 0;
    }
}
@media(max-width:768px){            /*mobile-view*/
    
    .quote-btn{
        margin-top: 10px !important;
    }
    #footer {
        padding: 0;
    }
    #footer p{
        text-align: center;
    }
}

/* css for collection-pages starts from here */
.menu a{
    font-size: 10pt;
}
.drop-down a{
    font-size: 10pt;
}

@media (min-width: 1200px){
.container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1050px !important;
}
.sing_pro_content h4{
    font-weight: 100 !important;
}
.sing_pro_content ul li {
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    font-size: 9pt !important;
}

}
/* css for collection-pages ends here */
